/* Estilos generales para el contenedor de redes sociales */
.redes-sociales {
    display: flex; /* Utilizamos flexbox para alinear los enlaces */
    justify-content: center; /* Centra los enlaces horizontalmente */
    gap: 20px; /* Espacio entre los enlaces */
    margin-top: 20px; /* Espacio superior para separarlo del contenido superior */
  }
  
  /* Estilos para cada enlace de red social */
  .red-enlace {
    text-decoration: none; /* Elimina el subrayado por defecto */
    color: white;/* Color por defecto */
    font-size: 28px; /* Tamaño de fuente */
    font-weight: bold; /* Hacer los textos en negrita */
    transition: transform 0.3s ease, color 0.3s ease; 
  }

  .red-enlace:hover{
    color: rgb(40, 139, 20);
    transform: scale(1.1);
  }
  
  